<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sven.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Einkaufsliste_Hauptscreen"
            android:label="@string/Titel_Einkaufsliste_Hauptscreen" >
        </activity>
        <activity
            android:name=".Wocheneinkauf"
            android:label="Wocheneinkauf" >
        </activity>
        <activity
            android:name=".Zutat_Hinzufuegen"
            android:label="Zutat hinzufügen" >
        </activity>
        <activity android:name=".Hauptmenue"
            android:label="Hauptmenü">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
